# Directorios de entorno virtual
.env
env/
venv/
__pycache__/
Scripts/
lib\site-packages/
Lib/
share/
include/
pyvenv.cfg
Data_Sci_2.code-workspace

# Archivos específicos de Python
*.pyc
*.pyo
*.pyd

# Archivos de configuración de VS Code
.vscode/

# Ignorar archivos del sistema
.DS_Store